* {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.upper-header {
  width: 100%;
  background-color: white;
}
.buttons-wrapper {
  height: 40px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  margin-left: auto;
  margin-right: 9%;
}
.upper-header-button {
  display: flex;
  background-color: white;
  border: none;
  height: 18.5px;
  font-size: 0.9732026157vw;
  gap: 5px;
  text-decoration: none !important;
}
.upper-header-button:hover {
  color: rgb(255, 54, 168);
}
.upper-header-button img {
  width: 19px;
  height: 20px;
  background-color: white;
  margin-bottom: 4px;
}
a:link {
  text-decoration: none;
}
.lower-header {
  height: 100px;
  background-color: #23001b;
}
.lower-header-left {
  background-color: transparent;
  height: 100px;
  width: 20vw;
}
.lower-header-left img {
  padding-top: 20px;
  height: 80%;
  width: 100%;
  background-color: transparent;
  display: flex;
  vertical-align: bottom;
  margin-right: 10px;
}
.lower-header-wrapper {
  background-color: #23001b;
  width: 85%;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}
.lower-header-right {
  background-color: #23001b;
  display: flex;
  align-items: flex-start;
  flex-direction: column-reverse;
  justify-items: center;
  height: 100px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}
.lower-header-right-down {
  background-color: #23001b;
  height: 65%;
  margin: 1.5em 0 0;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-around;
}
.lower-header-button {
  background-color: #23001b;
  border: none;
  border-bottom: 4px solid transparent;
  color: white;
  font-size: 1.3vw;
  font-weight: 400;
  padding-top: 17px;
  padding-bottom: 11px;
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 1.1vw;
  margin-right: 1.1vw;
}
.lower-header-button.active a,
.lower-header-button:hover {
  padding-bottom: 5px;
  border-bottom: 4px solid #ff0e50;
}
.lower-header-right-up {
  position: relative;
  top: 10px;
  background-color: #23001b;
  display: flex;
  margin-left: auto;
  gap: 15px;
  height: 25%;
}
.lower-header-right-up button {
  background-color: #23001b;
  display: flex;
  border: none;
  color: white;
  font-weight: 500;
  font-size: 1vw;
  gap: 2px;
}
.lower-header-right-up button:checked {
  display: none;
}
.lower-header-right-up img {
  background-color: #23001b;
  width: 20px;
  height: 20px;
}
section {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 86%;
}
.first-article-section {
  display: flex;
  gap: 1.5%;
}
.fa-left {
  display: flex;
  flex-direction: column;
  width: 20%;
  gap: 20px;
}
.fa-left a {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}
.fa-left h3 {
  color: black;
}
.fa-left p {
  color: grey;
  font-size: 0.9vw;
}
.fa-left img:hover {
  opacity: 0.85;
}
.fa-left {
  font-weight: 500;
}
.fa-left h3:hover {
  opacity: 0.95;
}
.fa-middle {
  width: 82%;
  display: flex;
  flex-direction: column;
}
.fa-middle a {
  height: 76%;
}
.fa-middle img {
  height: 100%;
  width: 100%;
}
.fa-middle div {
  position: relative;
  top: -9%;
  width: 80%;
  background-color: white;
}
.fa-middle p {
  margin-top: 10px;
  color: grey;
  font-size: 0.9vw;
}
.fa-middle h1 {
  color: #6a0432;
  font-size: 2.2961572031vw;
  font-weight: 800;
}
.fa-right {
  width: 17%;
}
.fa-right p {
  color: #88365b;
  font-size: 0.95vw;
  font-weight: 700;
  margin-bottom: 6px;
}
.fa-right a h6 {
  color: black;
  font-size: 1vw;
  margin-bottom: 9px;
  font-weight: 300;
}
.fa-right hr {
  margin-bottom: 9px;
  border-top: 0.2px dashed #cfcfcf;
}
.above-header p {
  color: rgb(90, 90, 90);
  font-size: 0.95vw;
}
.header-wrapper {
  display: flex;
  justify-content: space-between;
}
.header-wrapper a h1 {
  color: #2c0022;
  font-size: 4.9vw;
  font-weight: 750;
}
.header-wrapper a h1:hover {
  color: #3f0030b3;
}
.view-all-link {
  color: #2c0022;
  border-bottom: 4px solid #ff0e50;
  height: 30%;
  font-weight: 600;
  font-size: 0.95vw;
  margin-top: auto;
  margin-bottom: auto;
}
.view-all-link:hover {
  color: #ff0e50;
}
.second-article-section nav {
  margin-bottom: 20px;
}
.second-article-section nav a {
  margin-right: 1.5vw;
  font-weight: 600;
  color: #88365b;
}
.second-article-section nav a:hover {
  color: #88365bd5;
}
.articles {
  display: flex;
  gap: 20px;
}
.articles-left {
  width: 45%;
}
.articles-left:hover {
  opacity: 0.9;
}
.articles-left img {
  width: 100%;
}
.articles-left div {
  position: relative;
  top: -10%;
  background-color: white;
  width: 80%;
  padding-top: 10px;
}
.articles-left p {
  color: rgb(90, 90, 90);
  font-size: 0.95vw;
}
.articles-left h3 {
  color: #6a0432;
  font-size: 1.4vw;
  margin-right: 50px;
}
.articles-middle {
  display: flex;
  flex-direction: column;
  width: 30%;
  gap: 8px;
}
.articles-middle a {
  margin-bottom: 15px;
}
.articles-middle a:hover {
  opacity: 0.7;
}
.articles-middle a p {
  color: rgb(90, 90, 90);
  font-size: 0.95vw;
  margin-bottom: 1px;
}
.articles-middle a h4 {
  color: black;
  font-weight: 700;
}
.articles-right {
  width: 30%;
}
.articles-right:hover {
  opacity: 0.8;
}
.articles-right a div p {
  color: rgb(90, 90, 90);
  font-size: 0.95vw;
  margin-bottom: 1px;
}
.articles-right a div h3 {
  color: black;
}
.third-article-section nav {
  margin-bottom: 20px;
}
.third-article-section nav a {
  margin-right: 1.5vw;
  font-weight: 600;
  color: #88365b;
}
.third-article-section nav a:hover {
  color: #88365bd5;
}
.tsd-left {
  width: 70%;
}
.tsd-left a:hover {
  opacity: 0.8;
}
.tsd-left div {
  position: relative;
  top: -145px;
  width: 80%;
  background-color: white;
}
.tsd-left a img {
  width: 100%;
}
.tsd-left a div p {
  color: rgb(90, 90, 90);
  font-size: 0.95vw;
  padding-top: 10px;
}
.tsd-left a div h1 em {
  font-size: 2.3vw;
  margin-right: 1.5vw;
  font-weight: 800;
}
.tsd-left a div h1 {
  margin-right: 1.5vw;
  font-size: 2.3vw;
  font-weight: 800;
  color: #88365b;
}
.p-v2 {
  font-size: 1.1vw;
  color: rgb(74, 74, 74);
}
.third-section-down {
  display: flex;
  gap: 20px;
}
.tsd-right {
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.tsd-right a {
  margin-bottom: 15px;
}
.tsd-right a p img {
  width: 15px;
}
.tsd-right a:hover {
  opacity: 0.7;
}
.tsd-right a p {
  color: rgb(90, 90, 90);
  font-size: 0.95vw;
  margin-bottom: 1px;
}
.tsd-right a h4 {
  color: black;
  font-weight: 700;
}
.footer-up {
  background-color: #2c0022;
}
.footer-up {
  display: flex;
  justify-content: space-around;
  padding: 50px 0;
}
.rows {
  margin-left: 50px;
  margin-right: auto;
  width: 50%;
  display: flex;
  justify-content: space-around;
}
.row ul {
  display: flex;
  flex-direction: column;
  color: white;
  gap: 17px;
}
.row ul p {
  font-weight: 600;
  font-size: 1vw;
}
.row ul a {
  color: white;
  font-size: 1vw;
}
.row ul a:hover {
  opacity: 0.8;
}
.rest {
  max-width: 30%;
  margin-right: 150px;
}
.logo-holder {
  display: flex;
  margin-bottom: 20px;
}
.logo-holder p {
  display: flex;
  font-size: 3vw;
  color: white;
  font-weight: 700;
  line-height: 100%;
  margin: 0;
  opacity: 0.7;
}
.logo-holder img {
  height: 2.8vw;
  width: 7vw;
}
.footer-text {
  color: white;
  font-size: 0.9vw;
  margin-bottom: 20px;
}
.rest h5 {
  color: white;
  font-size: 1vw;
  margin-bottom: 15px;
}
.stickers-social {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.stickers-social a {
  color: white;
  gap: 5px;
  display: flex;
  align-items: center;
}
.stickers-social a:hover {
  opacity: 0.8;
}
.stickers-social a img {
  width: 20px;
  height: 20px;
  opacity: 0.7;
}
.footer-down {
  background-color: #23001b;
  padding: 1.5em 15px;
  display: flex;
  justify-content: space-between;
}
.left {
  gap: 10px;
  margin-left: 80px;
  display: flex;
  color: white;
}
.left a {
  color: white;
}
.left a:hover {
  opacity: 0.8;
}
.right {
  margin-right: 80px;
  color: white;
}
.lower-header-hamb {
  display: none;
}
.sub {
  display: none;
}
.lower-header-right-down {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.lower-header-right-down > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}
@media (max-width: 1100px) {
  .upper-header {
    display: none;
  }
}
@media (max-width: 850px) {
  .menu-button-container {
    display: flex;
  }
  .lower-header-right-down {
    display: flex;
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .lower-header-right-down li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .lower-header-right-down li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .lower-header-right-down > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
  }
  .lower-header-right-down > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }

  .first-article-section {
    width: 95%;
  }
  .second-article-section {
    width: 95%;
  }
  .third-article-section {
    width: 95%;
  }
  .lower-header-right-down {
    display: none;
  }
  .lower-header-right-up {
    display: none;
  }
  .lower-header-right {
    display: none;
  }
  .lower-header-left {
    height: 100%;
    margin: 0 auto;
  }
  .lower-header-left img {
    height: 40px;
    padding-top: 10px;
  }
  .lower-header-hamb {
    display: flex;
  }
  .lower-header {
    height: 50px;
  }
  .lower-header-wrapper {
    height: 50px;
    width: 90%;
  }
  .lower-header-hamb {
    display: flex;
    align-items: center;
    color: white;
    gap: 10px;
  }
  .lower-header-hamb img {
    width: 20px;
    height: 20px;
  }
  .sub {
    margin: auto 0;
    height: 40%;
    color: white;
    display: flex;
    align-items: center;
    font-size: small;
    padding-bottom: 0px;
    border-bottom: 2px solid rgb(255, 34, 71);
  }
  .sub:hover {
    color: rgb(255, 34, 71);
    border-bottom: none;
  }
  .first-article-section {
    flex-direction: column;
  }
  .fa-left {
    width: 100%;
  }
  .fa-middle {
    width: 100%;
  }
  .fa-right {
    width: 100%;
  }
  .fa-left p {
    font-size: 20px;
  }
  .fa-middle p {
    font-size: 20px;
  }
  .fa-middle h1 {
    font-size: 25px;
    margin-bottom: 20px;
  }
  .fa-middle img {
    margin-top: 40px;
  }
  .fa-right p {
    font-size: 20px;
  }
  .fa-right a h6 {
    font-size: 20px;
  }
  .header-wrapper {
    margin-bottom: 20px;
  }
  .header-wrapper a h1 {
    font-size: 8vw;
  }
  .above-header p em {
    font-size: 4vw;
  }
  .view-all-link {
    font-size: 2vw;
  }
  .second-article-section nav {
    margin-bottom: 40px;
  }
  .articles {
    flex-direction: column;
  }
  .articles-left {
    width: 100%;
  }
  .articles-middle {
    width: 100%;
  }
  .articles-right {
    width: 100%;
  }
  .articles-left p {
    font-size: 20px;
  }
  .articles-left h3 {
    font-size: 25px;
  }
  .articles-middle a p {
    font-size: 19px;
  }
  .articles-middle a {
    font-size: 20px;
  }
  .articles-right a div p {
    font-size: 20px;
  }
  .articles-right a div {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .third-section-down {
    flex-direction: column;
  }
  .tsd-left {
    width: 100%;
  }
  .tsd-left div {
    top: 0;
  }
  .tsd-left a div h1 em {
    font-size: 30px;
  }
  .tsd-left a div h1 {
    font-size: 25px;
  }
  .tsd-left a div p {
    font-size: 20px;
  }
  .p-v2 {
    font-size: 20px;
  }
  .tsd-right {
    width: 100%;
    margin-bottom: 20px;
  }
  .tsd-right a p {
    font-size: 20px;
  }
  .tsd-right a h4 {
    font-size: 20px;
  }
  .footer-up {
    flex-direction: column;
  }
  .rows {
    width: 90%;
    margin: 0 10px;
    flex-wrap: wrap;
    margin-bottom: 40px;
  }
  .row {
    width: 45%;
  }
  .row ul p {
    font-size: 15px;
  }
  .row ul a {
    font-size: 13px;
  }
  .rest {
    margin: 0;
    max-width: 100%;
  }
  .logo-holder img {
    margin-top: 20px;
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  .logo-holder p {
    margin-top: 20px;
    display: flex;
    align-items: center;
    margin-right: auto;
  }
  .footer-text {
    margin-left: 5px;
    font-size: 15px;
  }
  .rest h5 {
    margin-left: 5px;
    font-size: 15px;
  }
  .left {
    margin-left: 0;
    font-size: 14px;
  }
  .right {
    font-size: 14px;
    margin-right: 0;
  }
}
